.col{
    background-color: #fd7e14;
    color: white;
}
.col:hover{
    color: black;
}
.im{
    border: solid 1px black;
}
#delB:hover{
    color: black;
}
.bgBreg{
    background-color: #f5f5f5;
    /*background-image: url("../images/confundido.png");*/
}